In [3]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt

intake = pd.read_csv('aac_intakes.csv')
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')

1) Is there an area where more pets are found?

In [6]:
intake.value_counts('found_location').head(5)

found_location
Austin (TX)                          14443
Outside Jurisdiction                   948
Travis (TX)                            921
7201 Levander Loop in Austin (TX)      517
Del Valle (TX)                         411
dtype: int64

QUESTION 02: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

In [7]:
intake['datetime'] = pd.to_datetime(intake['datetime'])

In [17]:
intake_15 = intake[(intake['datetime'] >= datetime.datetime(2015,1,1)) & (intake['datetime'] < datetime.datetime(2016,1,1))]
number_pets_month = (len(intake_15) / 12).__round__()
number_pets_month

1559

In [16]:
intake_15

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
5,2 years,A708452,Dog,Labrador Retriever Mix,Black/White,2015-07-30 14:37:00,2015-07-30T14:37:00.000,Austin (TX),Normal,Public Assist,Mumble,Intact Male
8,5 months,A707375,Dog,Pit Bull,Brown/White,2015-07-11 18:19:00,2015-07-11T18:19:00.000,Galilee Court And Damita Jo Dr in Manor (TX),Normal,Stray,*Candy Cane,Intact Female
9,2 years,A696408,Dog,Chihuahua Shorthair,Tricolor,2015-02-04 12:58:00,2015-02-04T12:58:00.000,9705 Thaxton in Austin (TX),Normal,Stray,*Pearl,Intact Female
12,4 weeks,A707658,Cat,Domestic Shorthair Mix,Black/White,2015-07-15 17:43:00,2015-07-15T17:43:00.000,6118 Fairway in Austin (TX),Normal,Stray,*Mint,Intact Female
...,...,...,...,...,...,...,...,...,...,...,...,...
79451,3 weeks,A710038,Cat,Domestic Shorthair Mix,Black/White,2015-08-16 12:37:00,2015-08-16T12:37:00.000,E Mlk Blvd And Elmira Rd in Austin (TX),Normal,Stray,NaN,Intact Female
79572,1 year,A705821,Dog,Blue Lacy,Brown/Tan,2015-06-21 17:00:00,2015-06-21T17:00:00.000,W 45Th St And Guadalupe St in Austin (TX),Normal,Stray,Theo,Intact Male
79766,6 years,A716252,Dog,Labrador Retriever Mix,Black,2015-11-17 13:14:00,2015-11-17T13:14:00.000,10325 1625 Rd in Travis (TX),Normal,Stray,Karmen,Intact Female
79951,1 month,A705614,Cat,Domestic Longhair Mix,Blue Tabby,2015-06-19 16:31:00,2015-06-19T16:31:00.000,8023 Coulver Rd in Austin (TX),Normal,Stray,Blue,Intact Male
79952,4 months,A699742,Dog,Beagle/Labrador Retriever,Red/White,2015-04-01 17:39:00,2015-04-01T17:39:00.000,Grove And Riverside in Austin (TX),Normal,Stray,Jax,Intact Male

In [18]:
intake_january = intake_15[intake_15['datetime'] <= datetime.datetime(2015,2,1)]
intake_february = intake_15[intake_15['datetime'] < datetime.datetime(2015,3,1)]
intake_march = intake_15[intake_15['datetime'] < datetime.datetime(2015,4,1)]
intake_april = intake_15[intake_15['datetime'] < datetime.datetime(2015,5,1)]
intake_may = intake_15[intake_15['datetime'] < datetime.datetime(2015,6,1)]
intake_june = intake_15[intake_15['datetime'] < datetime.datetime(2015,7,1)]
intake_july = intake_15[intake_15['datetime'] < datetime.datetime(2015,8,1)]
intake_august = intake_15[intake_15['datetime'] < datetime.datetime(2015,9,1)]
intake_september = intake_15[intake_15['datetime'] < datetime.datetime(2015,10,1)]
intake_october = intake_15[intake_15['datetime'] < datetime.datetime(2015,11,1)]
intake_november = intake_15[intake_15['datetime'] < datetime.datetime(2015,12,1)]
intake_december = intake_15[intake_15['datetime'] > datetime.datetime(2015,12,1)]
lanimals_month = [len(intake_january),len(intake_february), len(intake_march), len(intake_april), len(intake_may),
                  len(intake_june), len(intake_july), len(intake_august), len(intake_september),
                  len(intake_october), len(intake_november), len(intake_december)]
kaniamls_month = {'January': lanimals_month[0], 'February': lanimals_month[1], 'March': lanimals_month[2],
                  'April': lanimals_month[3], 'May': lanimals_month[4], 'June': lanimals_month[5],
                  'July': lanimals_month[6], 'August': lanimals_month[7], 'September': lanimals_month[8],
                  'October':lanimals_month[9], 'November': lanimals_month[10], 'December':lanimals_month[11]}
higher_months = {}
for k, v in kaniamls_month.items():
    if v > number_pets_month:
        higher_months[k] = v
    else:
        continue
higher_months

{'February': 2317,
 'March': 3663,
 'April': 5206,
 'May': 7300,
 'June': 9489,
 'July': 11124,
 'August': 12842,
 'September': 14433,
 'October': 16173,
 'November': 17584}