In [253]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
intake = pd.read_csv('aac_intakes.csv')
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')

1) Is there an area where more pets are found?

In [254]:
intakes_outcomes.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [255]:
intake.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [256]:
all_intakes = intake.merge(intakes_outcomes, left_on=['animal_id'], right_on=['animal_id_intake'])
all_intakes

,age_upon_intake_x,animal_id,animal_type_x,breed_x,color_x,datetime,datetime2,found_location_x,intake_condition_x,intake_type_x,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,...,"(7.5, 10.0]",2015-07-05 12:59:00,7,2015,2015-07,Sunday,12,1.0,0 days 02:14:00.000000000,0.093056
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,...,"(-0.025, 2.5]",2016-04-14 18:43:00,4,2016,2016-04,Thursday,18,1.0,6 days 22:34:00.000000000,6.940278
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,...,"(-0.025, 2.5]",2013-10-21 07:59:00,10,2013,2013-10,Monday,7,1.0,0 days 03:40:00.000000000,0.152778
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,...,"(2.5, 5.0]",2014-06-29 10:38:00,6,2014,2014-06,Sunday,10,1.0,3 days 03:38:00.000000000,3.151389
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-02-18 12:46:00,2,2017,2017-02,Saturday,12,1.0,3 days 04:58:00.000000000,3.206944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100125,5 months,A763562,Dog,Chihuahua Shorthair Mix,Cream,2018-03-17T14:59:00.000,2018-03-17T14:59:00.000,Austin (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-12-11 11:04:00,12,2017,2017-12,Monday,11,2.0,3 days 05:31:00.000000000,3.229861
100126,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,...,"(-0.025, 2.5]",2018-03-29 17:19:00,3,2018,2018-03,Thursday,17,1.0,0 days 01:09:00.000000000,0.047917
100127,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,...,"(7.5, 10.0]",2018-03-29 18:20:00,3,2018,2018-03,Thursday,18,1.0,0 days 19:32:00.000000000,0.813889
100128,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,...,"(2.5, 5.0]",2018-03-27 14:27:00,3,2018,2018-03,Tuesday,14,1.0,5 days 22:34:00.000000000,5.940278
100129,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,...,"(-0.025, 2.5]",2018-03-29 17:13:00,3,2018,2018-03,Thursday,17,1.0,0 days 01:17:00.000000000,0.053472

In [257]:
all_intakes['found_location_x'].unique()

array(['9409 Bluegrass Dr in Austin (TX)',
       '2818 Palomino Trail in Austin (TX)', 'Austin (TX)', ...,
       '1122 Walton Ln in Austin (TX)',
       '11216 Jollyville Rd 216 in Austin (TX)',
       '2519 Scarbrough Dr in Travis (TX)'], dtype=object)

In [258]:
#locations = intake['found_location'].unique()
#main_area = []
#max = []
#a = 0
#for lc in locations:
    #if len(max) < 5:
        #max.append(len(all_intakes.loc[all_intakes['found_location_x'] == lc,]))
        #main_area.append(lc)
    #elif len(max) == 5:
        #max.append(len(all_intakes.loc[all_intakes['found_location_x'] == lc,]))
        #main_area.append(lc)
        #a = max.index(min(max))
        #max.remove(min(max))
        #main_area.remove(main_area[a])
#print(f'The five areas where more pets are found are \033[1m{main_area}\033[1m')

QUESTION 02: What is the average number of pets found in a month in the year 2015? Are there months where there is a higher number of animals found?

In [259]:
intake['datetime'] = pd.to_datetime(intake['datetime'])
intake.dtypes

age_upon_intake             object
animal_id                   object
animal_type                 object
breed                       object
color                       object
datetime            datetime64[ns]
datetime2                   object
found_location              object
intake_condition            object
intake_type                 object
name                        object
sex_upon_intake             object
dtype: object

In [260]:
intake_15 = intake[intake['datetime'] >= datetime.datetime(2015,1,1)].sort_values(by=['datetime'], ascending=False)[38637:]
intake_15

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
31988,1 year,A718503,Dog,Miniature Poodle Mix,White,2015-12-31 21:45:00,2015-12-31T21:45:00.000,Ih 35 & Tech Ridge in Austin (TX),Normal,Stray,*Johannes,Intact Male
51608,8 years,A718502,Dog,Pit Bull Mix,Brown Brindle/White,2015-12-31 16:05:00,2015-12-31T16:05:00.000,4802 Brook Creek in Austin (TX),Normal,Stray,Whiskey,Neutered Male
67752,1 year,A703506,Dog,Pit Bull Mix,Brown Brindle,2015-12-31 15:44:00,2015-12-31T15:44:00.000,Outside Jurisdiction,Normal,Owner Surrender,Nala,Spayed Female
70419,1 year,A718501,Dog,Australian Cattle Dog Mix,Black/White,2015-12-31 15:08:00,2015-12-31T15:08:00.000,Water Ave And S 1St St in Austin (TX),Normal,Stray,*Hank Cowdog,Intact Male
10735,1 year,A718498,Dog,Labrador Retriever Mix,Black,2015-12-31 15:04:00,2015-12-31T15:04:00.000,Austin (TX),Normal,Owner Surrender,Snoop Dog,Intact Male
...,...,...,...,...,...,...,...,...,...,...,...,...
1255,3 years,A694638,Dog,Miniature Poodle Mix,White,2015-01-01 12:07:00,2015-01-01T12:07:00.000,Brantley Bnd in Austin (TX),Normal,Stray,Ralphie,Intact Male
62211,6 years,A694637,Dog,German Shepherd,Black/Brown,2015-01-01 12:00:00,2015-01-01T12:00:00.000,7900 Thaxton in Austin (TX),Normal,Stray,*Cruiser,Intact Male
23223,5 years,A694631,Dog,Boxer Mix,Brown/White,2015-01-01 11:23:00,2015-01-01T11:23:00.000,Gattis School Rd & Red Bud Ln in Round Rock (TX),Normal,Stray,Night Wing,Neutered Male
20925,1 month,A694630,Dog,Pit Bull Mix,Brown/White,2015-01-01 11:18:00,2015-01-01T11:18:00.000,7201 Levander Loop in Austin (TX),Normal,Stray,*King Bacon,Intact Male
20493,2 months,A694626,Dog,Australian Shepherd Mix,White/Cream,2015-01-01 10:53:00,2015-01-01T10:53:00.000,Ganymede Dr & Europa Ln in Austin (TX),Normal,Stray,*Nikki,Intact Male

In [261]:
intake_january = intake_15[intake_15['datetime'] <= datetime.datetime(2015,2,1)]
intake_february = intake_15[intake_15['datetime'] < datetime.datetime(2015,3,1)]
intake_march = intake_15[intake_15['datetime'] < datetime.datetime(2015,4,1)]
intake_april = intake_15[intake_15['datetime'] < datetime.datetime(2015,5,1)]
intake_may = intake_15[intake_15['datetime'] < datetime.datetime(2015,6,1)]
intake_june = intake_15[intake_15['datetime'] < datetime.datetime(2015,7,1)]
intake_july = intake_15[intake_15['datetime'] < datetime.datetime(2015,8,1)]
intake_august = intake_15[intake_15['datetime'] < datetime.datetime(2015,9,1)]
intake_september = intake_15[intake_15['datetime'] < datetime.datetime(2015,10,1)]
intake_october = intake_15[intake_15['datetime'] < datetime.datetime(2015,11,1)]
intake_november = intake_15[intake_15['datetime'] < datetime.datetime(2015,12,1)]
intake_december = intake_15[intake_15['datetime'] > datetime.datetime(2015,12,1)]
lanimals_month = [len(intake_january),len(intake_february), len(intake_march), len(intake_april), len(intake_may),
                  len(intake_june), len(intake_july), len(intake_august), len(intake_september),
                  len(intake_october), len(intake_november), len(intake_december)]
kaniamls_month = {'January': lanimals_month[0], 'February': lanimals_month[1], 'March': lanimals_month[2],
                  'April': lanimals_month[3], 'May': lanimals_month[4], 'June': lanimals_month[5],
                  'July': lanimals_month[6], 'August': lanimals_month[7], 'September': lanimals_month[8],
                  'October':lanimals_month[9], 'November': lanimals_month[10], 'December':lanimals_month[11]}

ar = np.array(lanimals_month)
average = np.sum(ar)/len(ar)
average.round(3)

8538.083

QUESTION 03: What is the ratio of incoming pets vs. adopted pets?

In [262]:
incoming_pets = len(intake)
adopted_pets = len(outcomes)
ratio = incoming_pets/adopted_pets
ratio.__round__(3)

0.994

QUESTION 04: What is the distribution of the types of animals in the shelter?

In [263]:
intake

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05 12:59:00,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14 18:43:00,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21 07:59:00,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29 10:38:00,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18 12:46:00,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male
...,...,...,...,...,...,...,...,...,...,...,...,...
80182,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29 18:20:00,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,NaN,Spayed Female
80183,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27 14:27:00,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,NaN,Intact Male
80184,2 years,A769064,Other,Bat Mix,Brown,2018-03-29 17:13:00,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,NaN,Unknown
80185,3 years,A675680,Dog,German Shepherd/Black/Tan Hound,Black/Brown,2014-03-31 18:10:00,2014-03-31T18:10:00.000,Austin (TX),Normal,Public Assist,Draco,Neutered Male
80186,1 year,A680949,Dog,Chihuahua Shorthair/Beagle,Tan,2014-06-10 11:53:00,2014-06-10T11:53:00.000,4605 Lyra Cir in Austin (TX),Normal,Stray,Lolo,Intact Male

Most phenomena in the real world are truly random. The normal distribution reflects this.

NORMAL DISTRIBUTION: The arguments for the normal distribution are:
    loc: Is the mean
    scale: Is the square root of the variance, i.e. the standard deviation
    size: Is the sample size or the number of trials.

In [264]:
type_animals = intake['animal_type'].unique()
type_animals

array(['Dog', 'Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

So we have 5 different options... I am going to divide the data in 20 lots (5% of the total each). And I am going to get the NORMAL DISTRIBUTION of each animal.

DOG's DISTRIBUTION

In [298]:
total_dogs = len(intake[intake['animal_type']=='Dog'])
dogs_mean = total_dogs / len(intake)
samples_per_lot = int(len(intake) / 20)
lots = []
x = 0
y = samples_per_lot
while len(lots) < 20:
    lots.append(intake[x:y])
    x = y
    y += samples_per_lot
lot01 = lots[0]
lot02 = lots[1]
lot03 = lots[2]
lot04 = lots[3]
lot05 = lots[4]
lot06 = lots[5]
lot07 = lots[6]
lot08 = lots[7]
lot09 = lots[8]
lot10 = lots[9]
lot11 = lots[10]
lot12 = lots[11]
lot13 = lots[12]
lot14 = lots[13]
lot15 = lots[14]
lot16 = lots[15]
lot17 = lots[16]
lot18 = lots[17]
lot19 = lots[18]
lot20 = lots[19]

lot20.tail()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
80175,1 month,A763562,Dog,Chihuahua Shorthair Mix,Cream,2017-12-11 11:04:00,2017-12-11T11:04:00.000,Austin (TX),Normal,Owner Surrender,Kuzkoo,Intact Male
80176,5 months,A763562,Dog,Chihuahua Shorthair Mix,Cream,2018-03-17 14:59:00,2018-03-17T14:59:00.000,Austin (TX),Normal,Owner Surrender,Kuzkoo,Neutered Male
80177,4 years,A701265,Dog,Pit Bull Mix,Blue/White,2018-03-29 17:45:00,2018-03-29T17:45:00.000,Travis (TX),Normal,Stray,Blue,Neutered Male
80178,4 years,A722721,Cat,Domestic Shorthair Mix,Black,2018-03-29 17:54:00,2018-03-29T17:54:00.000,1601 Royal Crest Drive in Austin (TX),Normal,Stray,NaN,Spayed Female
80179,2 years,A769046,Dog,Chihuahua Shorthair Mix,Brown Brindle,2018-03-29 13:24:00,2018-03-29T13:24:00.000,Austin (TX),Sick,Owner Surrender,*Charm,Spayed Female