In [2]:
import pandas as pd
intake = pd.read_csv('aac_intakes.csv')
intakes_outcomes = pd.read_csv('aac_intakes_outcomes.csv')
outcomes = pd.read_csv('aac_outcomes.csv')

1) Is there an area where more pets are found?

In [10]:
intakes_outcomes.head()

,age_upon_outcome,animal_id_outcome,date_of_birth,outcome_subtype,outcome_type,sex_upon_outcome,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,10 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,3650,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,...,"(7.5, 10.0]",2017-12-07 00:00:00,12,2017,2017-12,Thursday,14,1.0,0 days 14:07:00.000000000,0.588194
1,7 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2555,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,...,"(5.0, 7.5]",2014-12-19 10:21:00,12,2014,2014-12,Friday,10,2.0,1 days 06:14:00.000000000,1.259722
2,6 years,A006100,2007-07-09 00:00:00,NaN,Return to Owner,Neutered Male,2190,6.0,"(5.0, 7.5]",2014-03-08 17:10:00,...,"(5.0, 7.5]",2014-03-07 14:26:00,3,2014,2014-03,Friday,14,3.0,1 days 02:44:00.000000000,1.113889
3,10 years,A047759,2004-04-02 00:00:00,Partner,Transfer,Neutered Male,3650,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,...,"(7.5, 10.0]",2014-04-02 15:55:00,4,2014,2014-04,Wednesday,15,1.0,4 days 23:17:00.000000000,4.970139
4,16 years,A134067,1997-10-16 00:00:00,NaN,Return to Owner,Neutered Male,5840,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,...,"(15.0, 17.5]",2013-11-16 09:02:00,11,2013,2013-11,Saturday,9,1.0,0 days 02:52:00.000000000,0.119444

In [11]:
intake.head()

,age_upon_intake,animal_id,animal_type,breed,color,datetime,datetime2,found_location,intake_condition,intake_type,name,sex_upon_intake
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,Belle,Spayed Female
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,Runster,Intact Male
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,NaN,Intact Female
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,Rio,Neutered Male
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,Odin,Neutered Male

In [14]:
all_intakes = intake.merge(intakes_outcomes, left_on=['animal_id'], right_on=['animal_id_intake'])
all_intakes

,age_upon_intake_x,animal_id,animal_type_x,breed_x,color_x,datetime,datetime2,found_location_x,intake_condition_x,intake_type_x,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
0,8 years,A706918,Dog,English Springer Spaniel,White/Liver,2015-07-05T12:59:00.000,2015-07-05T12:59:00.000,9409 Bluegrass Dr in Austin (TX),Normal,Stray,...,"(7.5, 10.0]",2015-07-05 12:59:00,7,2015,2015-07,Sunday,12,1.0,0 days 02:14:00.000000000,0.093056
1,11 months,A724273,Dog,Basenji Mix,Sable/White,2016-04-14T18:43:00.000,2016-04-14T18:43:00.000,2818 Palomino Trail in Austin (TX),Normal,Stray,...,"(-0.025, 2.5]",2016-04-14 18:43:00,4,2016,2016-04,Thursday,18,1.0,6 days 22:34:00.000000000,6.940278
2,4 weeks,A665644,Cat,Domestic Shorthair Mix,Calico,2013-10-21T07:59:00.000,2013-10-21T07:59:00.000,Austin (TX),Sick,Stray,...,"(-0.025, 2.5]",2013-10-21 07:59:00,10,2013,2013-10,Monday,7,1.0,0 days 03:40:00.000000000,0.152778
3,4 years,A682524,Dog,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,2014-06-29T10:38:00.000,2014-06-29T10:38:00.000,800 Grove Blvd in Austin (TX),Normal,Stray,...,"(2.5, 5.0]",2014-06-29 10:38:00,6,2014,2014-06,Sunday,10,1.0,3 days 03:38:00.000000000,3.151389
4,2 years,A743852,Dog,Labrador Retriever Mix,Chocolate,2017-02-18T12:46:00.000,2017-02-18T12:46:00.000,Austin (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-02-18 12:46:00,2,2017,2017-02,Saturday,12,1.0,3 days 04:58:00.000000000,3.206944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100125,5 months,A763562,Dog,Chihuahua Shorthair Mix,Cream,2018-03-17T14:59:00.000,2018-03-17T14:59:00.000,Austin (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-12-11 11:04:00,12,2017,2017-12,Monday,11,2.0,3 days 05:31:00.000000000,3.229861
100126,1 year,A769065,Other,Bat Mix,Brown,2018-03-29T17:19:00.000,2018-03-29T17:19:00.000,1122 Walton Ln in Austin (TX),Normal,Wildlife,...,"(-0.025, 2.5]",2018-03-29 17:19:00,3,2018,2018-03,Thursday,17,1.0,0 days 01:09:00.000000000,0.047917
100127,10 years,A769067,Dog,Boxer Mix,Brown Brindle,2018-03-29T18:20:00.000,2018-03-29T18:20:00.000,11216 Jollyville Rd 216 in Austin (TX),Aged,Stray,...,"(7.5, 10.0]",2018-03-29 18:20:00,3,2018,2018-03,Thursday,18,1.0,0 days 19:32:00.000000000,0.813889
100128,5 years,A768934,Dog,Dachshund Wirehair/Chihuahua Shorthair,Chocolate/White,2018-03-27T14:27:00.000,2018-03-27T14:27:00.000,603 West Johanna Street in Austin (TX),Normal,Stray,...,"(2.5, 5.0]",2018-03-27 14:27:00,3,2018,2018-03,Tuesday,14,1.0,5 days 22:34:00.000000000,5.940278
100129,2 years,A769064,Other,Bat Mix,Brown,2018-03-29T17:13:00.000,2018-03-29T17:13:00.000,2519 Scarbrough Dr in Travis (TX),Normal,Wildlife,...,"(-0.025, 2.5]",2018-03-29 17:13:00,3,2018,2018-03,Thursday,17,1.0,0 days 01:17:00.000000000,0.053472

In [20]:
all_intakes['found_location_x'].unique()

array(['9409 Bluegrass Dr in Austin (TX)',
       '2818 Palomino Trail in Austin (TX)', 'Austin (TX)', ...,
       '1122 Walton Ln in Austin (TX)',
       '11216 Jollyville Rd 216 in Austin (TX)',
       '2519 Scarbrough Dr in Travis (TX)'], dtype=object)

In [24]:
locations = all_intakes['found_location_x'].unique()
all_intakes.loc[all_intakes['found_location_x'] == 'Travis (TX)',]

,age_upon_intake_x,animal_id,animal_type_x,breed_x,color_x,datetime,datetime2,found_location_x,intake_condition_x,intake_type_x,...,age_upon_intake_age_group,intake_datetime,intake_month,intake_year,intake_monthyear,intake_weekday,intake_hour,intake_number,time_in_shelter,time_in_shelter_days
271,9 months,A724243,Dog,Shih Tzu/Chihuahua Shorthair,White/Black,2016-05-23T00:00:00.000,2016-05-23T00:00:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2016-05-23 00:00:00,5,2016,2016-05,Monday,0,1.0,0 days 16:13:00.000000000,0.675694
272,9 months,A724243,Dog,Shih Tzu/Chihuahua Shorthair,White/Black,2016-05-23T00:00:00.000,2016-05-23T00:00:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2016-04-14 15:10:00,4,2016,2016-04,Thursday,15,2.0,16 days 21:06:00.000000000,16.879167
487,3 months,A711073,Cat,Domestic Shorthair Mix,White/Black,2015-09-12T15:50:00.000,2015-09-12T15:50:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2015-09-12 15:50:00,9,2015,2015-09,Saturday,15,1.0,0 days 02:49:00.000000000,0.117361
488,3 months,A711073,Cat,Domestic Shorthair Mix,White/Black,2015-09-12T15:50:00.000,2015-09-12T15:50:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2015-09-01 13:15:00,9,2015,2015-09,Tuesday,13,2.0,7 days 05:21:00.000000000,7.222917
527,1 year,A747800,Cat,Domestic Shorthair Mix,Blue Tabby,2017-04-25T09:04:00.000,2017-04-25T09:04:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-04-25 09:04:00,4,2017,2017-04,Tuesday,9,1.0,57 days 02:54:00.000000000,57.120833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100012,2 years,A738735,Dog,Pit Bull Mix,Brown/White,2016-11-20T09:47:00.000,2016-11-20T09:47:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-02-01 13:43:00,2,2017,2017-02,Tuesday,15,2.0,20 days 02:08:00.000000000,20.088889
100013,2 years,A738735,Dog,Pit Bull Mix,Brown/White,2016-11-20T09:47:00.000,2016-11-20T09:47:00.000,Travis (TX),Normal,Owner Surrender,...,"(-0.025, 2.5]",2017-01-28 17:13:00,2,2017,2017-02,Wednesday,10,3.0,3 days 17:07:00.000000000,3.713194
100029,1 year,A768566,Dog,German Shepherd/Nova Scotia Duck Tolling Retri...,Brown/White,2018-03-21T15:37:00.000,2018-03-21T15:37:00.000,Travis (TX),Normal,Stray,...,"(-0.025, 2.5]",2018-03-27 18:39:00,3,2018,2018-03,Tuesday,18,1.0,0 days 17:15:00.000000000,0.718750
100030,1 year,A768566,Dog,German Shepherd/Nova Scotia Duck Tolling Retri...,Brown/White,2018-03-21T15:37:00.000,2018-03-21T15:37:00.000,Travis (TX),Normal,Stray,...,"(-0.025, 2.5]",2018-03-21 15:37:00,3,2018,2018-03,Wednesday,15,2.0,5 days 01:37:00.000000000,5.067361
100065,9 years,A768012,Cat,Domestic Shorthair Mix,Blue,2018-03-11T11:41:00.000,2018-03-11T11:41:00.000,Travis (TX),Normal,Owner Surrender,...,"(7.5, 10.0]",2018-03-11 11:41:00,3,2018,2018-03,Sunday,11,1.0,17 days 07:08:00.000000000,17.297222